<!DOCTYPE html>
<html>
@model List<PetCareBd1.Models.employees>
<head>
    <meta charset="utf-8">
    <title>Empleados</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
          rel="stylesheet" type='text/css'>
    <script src="~/Scripts/funciones.js"></script>
</head>


<body>

    <nav style="height:60px" class="navbar navbar-expand-lg bg-dark">

        <!-- Links -->
        <ul class="navbar-nav">

            <li class="nav-item"><a style="color:white;margin-right:60px;font-weight:600" href="@Url.Action("welcomepage","Login")">Dashboard</a></li>


            <li class="nav-item"><a style="color:white;margin-right:60px;font-weight:600" href="@Url.Action("employeeview","Employees")"> Empleados</a></li>



            <li class="nav-item"><a style="color:white;margin-right:60px;font-weight:600" href="@Url.Action("petview","Pets")"> Mascotas</a></li>



            <li class="nav-item"><a style="color:white;margin-right:60px;font-weight:600" href="@Url.Action("customerview","Customer")"> Clientes</a></li>




            <li class="nav-item"><a style="color:white;margin-right:60px;font-weight:600" href="@Url.Action("servicesview","Services")"> Servicios y Categorías</a></li>
            <li class="nav-item"><a style="color:white;margin-right:60px;font-weight:600" href="@Url.Action("billview","Bill")"> Facturación</a></li>
        </ul>

    </nav>


    <div class="container">


        <form action="~/Employees/AddEmployee" method="post">
            <br>
            <br>
            <h2>Empleados</h2>
            <div class="form-row">
                <div class="form-group col-md-6">
                  @*  <label for="employeeid">ID</label>*@
                    <input  type="text" class="form-control" id="employeeid" disabled hidden>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="empname">Nombre</label>
                    <input name="employeeName" type="text" class="form-control" id="empname" placeholder="Juan Pérez" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="empmail">Email</label>
                    <input name="employeeMail" type="email" placeholder="Juanperez@gmail.com" class="form-control" id="empmail" required>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="employeesalary">Salario</label>
                    <input name ="employeeSalary" type="text" placeholder="25000" class="form-control" id="employeesalary" required>

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="employeedate">Fecha de nacimiento</label>
                    <input name ="employeeBirthday" type="text" placeholder="01-01-1985" class="form-control" id="employeedate" required>

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="employeephone">Télefono</label>
                    <input name ="employeePhone" type="text" placeholder="8094838138" class="form-control" id="employeephone"required>

                </div>
            </div>

            <br>

            <button type="submit" class="btn btn-primary">Guardar empleado</button>
        </form>


    </div>
    <br>
    <br>
    <br>


    <div class="container">
        <h2>Empleados reigstrados</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID empleado</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Salario</th>
                    <th>Fecha de nacimiento</th>
                    <th>Télefono</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var x in Model)
                {
                <tr>
                    <td>@x.employeeId</td>
                    <td>@x.employeeName</td>
                    <td>@x.employeeMail</td>
                    <td>@x.employeeSalary</td>
                    <td>@x.employeeBirthday</td>
                    <td>@x.employeePhone</td>



                    <td>
                     <button type="button" class="btn btn-warning"> <a style="color:white;font-weight:300" href="@Url.Action("GetEmployeesToEdit", "Employees",new {id=x.employeeId })"> Editar</a> </button>

                 </td>

                 <td>

                     <button class="btn btn-danger"> <a style="color:white;font-weight:300" href="@Url.Action("DeleteEmployee","Employees", new { id=x.employeeId})"> Borrar</a></button>
                    </td>
                </tr>

                        }
                    




                </tbody>
        </table>
    </div>



</body>

</html>